:root {
    --main-bg: rgb(255, 250, 245);
    --main-text: rgb(37, 35, 35);
}

body {
    margin: 0px;
    background-color: var(--main-bg, black);
    font-family: 'Roboto', sans-serif;
}

/* Fixed navbar to the top of the web page */
#navbar {
    background-color: var(--main-bg, black);
    margin: 0px;
    padding: 0px 10px 10px 10px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}   

#navbar header {
    text-align: center;
    font-family: Montserrat, sans-serif;
    float: left;
    padding: 20px 0px 10px 0px;
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    position: relative;
    left: 1%;
}

/* remove bullet points for navbar list*/
#navbar ul {
    list-style: none;
    padding: 0px 10px 0px 5px;
}

#navbar a {
    float: right;
    text-align: center;
    text-decoration: none;
    color: var(--main-text, black);
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

#navbar a:after {
    text-decoration: none;
    color: var(--main-text, black);
}

#home-photo {
    background-image: url(/images/mountain-shot.jpg);
    background-color: var(--main-bg, black);
    margin: 55px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    height: 120vh;
    text-align: center;
}

#home-photo img {
    width: 100vw;
    height: auto;
}

#home-photo h1,h2 {
    color: var(--main-text, black);
    position: relative;
    top: 12.5%;
}

#tab-gallery {
    background-color: var(--main-bg, white);
    z-index: 999;
}

/* CSS grid to position columns for each preview image */
.gallery-row {
    display: grid;
    grid-template-columns: repeat(4, 50fr);
    padding: 10px 0px 5px 0px;
    margin: 0px;
}

.gallery-column {
    padding: 10px 0px 10px 20px;
}

/* style the images in the grid */
.gallery-column img {
    opacity: 0.85;
    cursor: pointer;
    max-width: 90%;
}

.gallery-column img:hover {
    opacity: 1;
}

/* position the container for the expanded image */
#expanded-container {
    position: relative;
    display: block;
}

#expanded-image {
    width: 100%;
}

/* Use CSS Grid to layout the project rectangles in this container */
#socials {
    background-color: var(--main-bg, white);
    padding: 15px;
    height: 100vh;
    border-style: solid;
    display: grid;
    grid-template-columns: 35fr 65fr;
}

#socials > div {
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}

#socials .social-text > header {
    text-align: center;ggi
    position: relative;
    top: 40%;
}

#socials .instagram {

}

#socials .youtube {
    background-color: rgb(201, 201, 201)
}

#socials .pinterest {
    
}

#portraits {
    background-color: var(--main-bg, white);
    border-style: solid;
    height: 100vh;
}

#street {
    background-color: var(--main-bg, white);
    height: 100vh;
    border-style: solid;
}

@media only screen and (max-device-width: 480px) {
    #home-photo {
        width: 100vw;
        height: auto;
    }

    #home-photo img {
        width: 100vw;
        height: auto;
    }

    #socials, #portraits, #street {
        width: 100vw;
        height: auto;
    }
}